@charset "UTF-8";
/* CSS Document */


body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  user-select: none;
}
div{
    background-size: contain;
}
#main_content {
    display: block; position: absolute; width: 300px; height: 250px; top: 0px; left: 0px; overflow: hidden; visibility: hidden;
    background-color: #ffffff;
    
}

#border {
    display: block; position: absolute; width: 100%; height: 100%; top: 0px; left: 000px;
    background: rgba(255,255,255,0); border: 1px solid #474b51; box-sizing: border-box;
}
#clicktag{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
#cta-clicktag{
    display: block;
    position:absolute;
    bottom: 9px;
    right: 10px;
    background-color: rgba(255,255,255,0);
    width: 80px;
    height: 25px;
}
/* ELEMENTS */
#bg1, #bg2, #bg3{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}
#bg2, #bg3{
    opacity: 0;;
}
#c1, #c2, #c3{
    position: absolute;
    width: 300px;
    height: auto;
    top: 0px;
    left: 0px;
    opacity: 0;
}
#logo{
    position: absolute;
    width:300px;
    height: auto;
    top: 0px;
    left: 0px;
}
#nameplate{
    position: absolute;
    width: 300px;
    height: auto;
    top: 0px;
    left: 0px;
}
#explore, #explore-hover{
    position: absolute;
    width: 300px;
    height: auto;
    left: 0px;
    top: 0px;
}
#explore-hover{
    opacity: 0;
}
#disclaimer{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
#disclaimer-content{
    position: absolute;
    width: 300px;
    height: auto;
}
#info{
    position: absolute;
    width: 300px;
    height: auto;
    left: 0px;
    top: 0px;
}
#close{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 52px;
    height: 22px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
#disclaimer-btn{
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}